.ant-card {
    padding-right: 20px;
    padding-left: 20px;
}

.lift-map-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.card-style {
    width: 480px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.card-image-style {
    height: 580px;
    width: 440px;
}