@media (max-width: 900px) {
    .homeslide-content {
        width: 100%;
        height: 20rem;
        position: relative;
        display: flex;
        /* 当屏幕宽度小于600px时，元素高度变为300px */
    }
}

.homeslide-content {
    width: 100%;
    height: 35vw;
    position: relative;
    display: flex;
}

.text-style1 {
    position: absolute; // absolute positioning
    bottom: 18vw; // start at from the bottom 200px
    left: 50%; // center horizontally
    transform: translateX(-20%); // make sure the text centers are aligned
    color: #fff; // text color
    font-size: 1.5vw; // text size
    font-weight: bold; // Text bolding
    //margin: 3rem 6rem; // Text margins
    //border-radius: 5px; // border-radius
    width: 80%;
}

.text-style2 {
    position: absolute; // absolute positioning
    bottom: 13vw; // start at from the bottom 150px
    left: 50%; // center horizontally
    transform: translateX(-30%); // make sure the text centers are aligned
    color: #fff; // text color
    font-size: 3vw; // text size
    font-weight: bold; // Text bolding
    //margin: 3rem 6rem; // Text margins
    //border-radius: 5px; // border-radius
    width: 80%;
}

.downOutlined-case {
    position: absolute;
    bottom: 1.5vw;
    left: 50%;
    transform: translateX(-50%);
}

.image-style {
    width: 100%;
    height: auto;
    object-fit: cover;
}